@charset "UTF-8";
/* ---
# Only the main Sass file needs front matter (the dashes are enough)
--- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/35046d");
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500|Playfair+Display:900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * @license
 * MyFonts Webfont Build ID 3474541, 2017-10-28T17:02:28-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Native-Italic by Fort Foundry
 * URL: https://www.myfonts.com/fonts/fort-foundry/native/italic/
 * 
 * Webfont: Native-LightItalic by Fort Foundry
 * URL: https://www.myfonts.com/fonts/fort-foundry/native/light-italic/
 * 
 * Webfont: Native-Bold by Fort Foundry
 * URL: https://www.myfonts.com/fonts/fort-foundry/native/bold/
 * 
 * Webfont: Native-Regular by Fort Foundry
 * URL: https://www.myfonts.com/fonts/fort-foundry/native/regular/
 * 
 * Webfont: Native-Light by Fort Foundry
 * URL: https://www.myfonts.com/fonts/fort-foundry/native/light/
 * 
 * Webfont: Native-BoldItalic by Fort Foundry
 * URL: https://www.myfonts.com/fonts/fort-foundry/native/bold-italic/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3474541
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2016 by Mattox Shuler. All rights reserved.
 * 
 * © 2017 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Native-Italic';
  src: url("../../../assets/fonts/native/35046D_0_0.eot");
  src: url("../../../assets/fonts/native/35046D_0_0.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/native/35046D_0_0.woff2") format("woff2"), url("../../../assets/fonts/native/35046D_0_0.woff") format("woff"), url("../../../assets/fonts/native/35046D_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Native-Bold';
  src: url("../../../assets/fonts/native/35046D_2_0.eot");
  src: url("../../../assets/fonts/native/35046D_2_0.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/native/35046D_2_0.woff2") format("woff2"), url("../../../assets/fonts/native/35046D_2_0.woff") format("woff"), url("../../../assets/fonts/native/35046D_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Native-Regular';
  src: url("../../../assets/fonts/native/35046D_3_0.eot");
  src: url("../../../assets/fonts/native/35046D_3_0.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/native/35046D_3_0.woff2") format("woff2"), url("../../../assets/fonts/native/35046D_3_0.woff") format("woff"), url("../../../assets/fonts/native/35046D_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Native-BoldItalic';
  src: url("../../../assets/fonts/native/35046D_5_0.eot");
  src: url("../../../assets/fonts/native/35046D_5_0.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/native/35046D_5_0.woff2") format("woff2"), url("../../../assets/fonts/native/35046D_5_0.woff") format("woff"), url("../../../assets/fonts/native/35046D_5_0.ttf") format("truetype"); }

@font-face {
  font-family: "Dala Floda Web";
  src: url("../../../assets/fonts/dala-floda/DalaFloda-Bold-Web.eot");
  src: url("../../../assets/fonts/dala-floda/DalaFloda-Bold-Web.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/dala-floda/DalaFloda-Bold-Web.woff") format("woff"), url("../../../assets/fonts/dala-floda/DalaFloda-Bold-Web.ttf") format("truetype"), url("../../../assets/fonts/dala-floda/DalaFloda-Bold-Web.svg#DalaFloda-Bold") format("svg");
  font-style: normal;
  font-stretch: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #dc7a6e;
  border: 0;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Native-Regular", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #b06258;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #dc7a6e; }

.button {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 6.2rem;
  letter-spacing: 0.15rem;
  text-align: center;
  text-decoration: none;
  border: solid 1px #dc7a6e;
  border-radius: 4rem;
  width: 21rem;
  height: 6.5rem;
  display: inline-block;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 2.5rem 0 0 0; }
  @media screen and (min-width: 768px) {
    .button {
      width: 20rem; } }
  @media screen and (min-width: 1024px) {
    .button {
      margin: 4.5rem 0 0 0; } }

@media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 1024px) and (min-resolution: 192dpi), only screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .button {
    font-weight: 400; } }
  @media screen and (min-width: 1440px) {
    .button {
      font-size: 2rem;
      width: 22rem;
      margin: 6.5rem 0 0 0; } }
  .button:hover {
    color: #fffffb;
    background: #dc7a6e;
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease; }
  .button:focus {
    background: #d25445;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease; }

fieldset {
  background-color: #d6dcd9;
  border: 1px solid #5b7366;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Native-Regular", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1.2rem; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fffffb;
  border: 1px solid #5b7366;
  border-radius: 4rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Native-Regular", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1.2rem;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #495c52; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #dc7a6e;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(215, 103, 89, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2ee;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #5b7366; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #44564d;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #5b7366;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  color: #5b7366;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1.2rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
  .wf-active body {
    font-family: "Native-Regular", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; }

h1,
h2,
h3,
h4,
h5 {
  color: #263430;
  font-family: "Playfair Display", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-weight: 900;
  font-size: 1.2rem;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  font-feature-settings: "kern"; }
  .wf-active h1, .wf-active
  h2, .wf-active
  h3, .wf-active
  h4, .wf-active
  h5 {
    font-family: "Dala Floda Web", "Playfair Display", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-weight: inherit;
    line-height: 1; }

h1 {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 1.25px;
  position: relative; }
  h1 small {
    color: #5b7366;
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    line-height: 3;
    letter-spacing: 4px;
    text-transform: uppercase; }

h2 {
  color: #263430;
  font-size: 4.8rem;
  letter-spacing: 0.15rem;
  margin: 4rem 0; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 8rem;
      letter-spacing: 0.25rem; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 8.4rem;
      margin: 6rem 0; } }
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 12rem;
      margin: 8rem 0; } }

h3 {
  color: #263430;
  font-size: 4.2rem;
  letter-spacing: 0.125rem;
  margin: 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 5.4rem; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 7.2rem; } }
  @media screen and (min-width: 1440px) {
    h3 {
      font-size: 9.6rem; } }

h4 {
  color: #dc7a6e;
  font-size: 3.6rem;
  letter-spacing: 0.125rem;
  text-shadow: 0 3px 5px rgba(13, 27, 23, 0.1);
  margin: 0 0 2rem 0; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 4.8rem;
      letter-spacing: 0.175rem;
      margin: 0 0 3rem 0; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 6.6rem;
      letter-spacing: 0.25rem;
      margin: 0 0 4rem 0; } }
  @media screen and (min-width: 1440px) {
    h4 {
      font-size: 8.4rem;
      letter-spacing: 0.2rem;
      margin: 0 0 6rem 0; } }

h5 {
  color: #dc7a6e;
  font-size: 3.3rem;
  letter-spacing: 0.125rem;
  margin: 0 0 2rem 0; }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 4.8rem;
      letter-spacing: 0.175rem;
      margin: 0 0 4rem 0; } }
  @media screen and (min-width: 1440px) {
    h5 {
      font-size: 6.6rem;
      letter-spacing: 0.2rem;
      margin: 0 0 6rem 0; } }

h6 {
  color: #dc7a6e;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0; }
  .wf-active h6 {
    font-family: "Native-Regular", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; }
  @media screen and (min-width: 768px) {
    h6 {
      font-size: 1.2rem;
      letter-spacing: 0.36rem; } }
  @media screen and (min-width: 1024px) {
    h6 {
      font-size: 1.4rem;
      letter-spacing: 0.45rem; } }

p {
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 0 0 2rem 0; }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.8rem;
      margin: 0 0 3rem 0; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 2rem; } }
  @media screen and (min-width: 1440px) {
    p {
      font-size: 2.2rem; } }
  p.about {
    color: #fffffb;
    font-size: 1.2rem;
    line-height: 2.4rem;
    border-left: solid 1px #dc7a6e;
    margin: 0;
    padding: 0 0 0 16px; }
    @media screen and (min-width: 768px) {
      p.about {
        font-size: 2.4rem;
        line-height: 36px;
        padding: 0 0 0 23px; } }
    @media screen and (min-width: 1024px) {
      p.about {
        font-size: 2.4rem;
        line-height: 40px !important; } }
    p.about a {
      color: #dc7a6e;
      text-shadow: 0 3px 6px rgba(13, 27, 23, 0.25);
      text-decoration: none; }
      p.about a:hover {
        color: #d25445; }
  p.anchor {
    font-size: 4.8rem;
    line-height: 48px;
    text-align: center;
    margin: 32px 0 0; }
    p.anchor a {
      color: #0d1b17;
      font-weight: normal;
      text-decoration: none; }
  p.featured__intro {
    font-weight: 500;
    margin: 3rem 0; }
    @media screen and (min-width: 768px) {
      p.featured__intro {
        font-size: 1.8rem; } }
    @media screen and (min-width: 1024px) {
      p.featured__intro {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        margin: 6rem 0; } }
    @media screen and (min-width: 1440px) {
      p.featured__intro {
        font-size: 2.2rem; } }
  p.conclusion__copy {
    color: #fffffb;
    font-weight: 500;
    line-height: 2.4rem; }
    @media screen and (min-width: 768px) {
      p.conclusion__copy {
        font-size: 1.8rem;
        line-height: 2.6rem; } }
    @media screen and (min-width: 1024px) {
      p.conclusion__copy {
        font-size: 2rem;
        line-height: 2.8rem; } }
    @media screen and (min-width: 1440px) {
      p.conclusion__copy {
        font-size: 2.2rem;
        line-height: 3.4rem;
        letter-spacing: 0.05rem; } }
  p.footer__copy {
    color: #fffffb; }
    @media screen and (min-width: 768px) {
      p.footer__copy {
        margin: 0.5rem 0 0 0; } }
    @media screen and (min-width: 1024px) {
      p.footer__copy {
        font-size: 1.8rem;
        margin: 0; } }
    @media screen and (min-width: 1440px) {
      p.footer__copy {
        font-size: 2rem; } }
  p.footer__colophon {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin: 0 0 12px; }
    p.footer__colophon:last-child {
      margin: 0; }
    @media screen and (min-width: 768px) {
      p.footer__colophon {
        font-size: 1.6rem;
        line-height: 24px; } }
    p.footer__colophon a {
      color: #5b7366;
      text-decoration: underline; }
      p.footer__colophon a:hover {
        color: #44574d;
        text-decoration: none; }

a {
  color: #dc7a6e;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #c66e63; }

hr {
  width: 7rem;
  height: 0.1rem;
  border-bottom: 1px solid #5b7366;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    hr {
      width: 10rem; } }
  @media screen and (min-width: 1024px) {
    hr {
      width: 12rem; } }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

body {
  background: #fffffb; }

header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .header__container {
    float: left;
    display: block;
    margin-right: 0%;
    width: 83.33333%;
    margin-left: 8.33333%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    position: absolute;
    z-index: 1;
    top: 16px; }
    header .header__container:last-child {
      margin-right: 0; }
    header .header__container .logo {
      width: auto;
      height: 42px; }
      @media screen and (min-width: 768px) {
        header .header__container .logo {
          height: 48px; } }
    header .header__container .icon-menu {
      width: 30px;
      height: auto; }

.hero {
  background: url("../assets/images/hero_background-2x.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }

/* Styling specific to the homepage hero */
.home {
  height: 85vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .home:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 251, 0.3);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 251, 0.3), #fffffb);
    background-image: linear-gradient(to bottom,rgba(255, 255, 251, 0.3), #fffffb); }

.hero-content {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
  margin-left: 8.33333%;
  position: relative; }
  .hero-content:last-child {
    margin-right: 0; }
  .hero-content p {
    margin: 16px 0 0 0; }

/* DELETE THIS FILE WHEN YOU'RE DONE WITH THE HOMEPAGE */
body {
  background: #fffffb; }

.page-content {
  background: url("../assets/images/topography_01.svg") no-repeat;
  background-position: center -200px;
  background-size: 29rem auto; }
  @media screen and (min-width: 768px) {
    .page-content {
      background-position: center -210px;
      background-size: 41rem auto; } }
  @media screen and (min-width: 1024px) {
    .page-content {
      background-position: center -215px;
      background-size: 42rem auto; } }
  @media screen and (min-width: 1440px) {
    .page-content {
      background-position: center -260px;
      background-size: 50rem auto; } }
  .page-content .featured__copy {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .page-content .featured__copy::after {
      clear: both;
      content: "";
      display: table; }
    .page-content .featured__copy--container {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%;
      text-align: center;
      padding: 6rem 0; }
      .page-content .featured__copy--container:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .featured__copy--container {
          float: left;
          display: block;
          margin-right: 0%;
          width: 66.66667%;
          margin-left: 16.66667%;
          padding: 8rem 0; }
          .page-content .featured__copy--container:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 1024px) {
        .page-content .featured__copy--container {
          padding: 12rem 0; } }
      @media screen and (min-width: 1440px) {
        .page-content .featured__copy--container {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%;
          margin-left: 25%;
          padding: 14rem 0; }
          .page-content .featured__copy--container:last-child {
            margin-right: 0; } }
      .page-content .featured__copy--container .featured__copy--paragraph {
        margin: 6rem 0 0 0; }
        @media screen and (min-width: 1024px) {
          .page-content .featured__copy--container .featured__copy--paragraph {
            margin: 10rem 0 0 0; } }
        @media screen and (min-width: 1440px) {
          .page-content .featured__copy--container .featured__copy--paragraph {
            margin: 12rem 0 0 0; } }
  .page-content .featured__imagery {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url("../assets/images/wolfwithin_background.jpg") 0 0 no-repeat;
    background-size: cover;
    text-align: center; }
    .page-content .featured__imagery::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 768px) {
      .page-content .featured__imagery {
        background: url("../assets/images/wolfwithin_background_medium.jpg") 0 0 no-repeat;
        background-size: cover; } }
    @media screen and (min-width: 1024px) {
      .page-content .featured__imagery {
        background: url("../assets/images/wolfwithin_background_large.jpg") 0 0 no-repeat;
        background-size: cover;
        border: solid 10px #F4D229; } }
    @media screen and (min-width: 1440px) {
      .page-content .featured__imagery {
        background: url("../assets/images/wolfwithin_background_xlarge.jpg") 0 0 no-repeat;
        background-size: cover;
        border: solid 15px #F4D229; } }
    .page-content .featured__imagery--container {
      float: left;
      display: block;
      margin-right: 0%;
      width: 66.66667%;
      margin-left: 16.66667%;
      padding: 4rem 0; }
      .page-content .featured__imagery--container:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .featured__imagery--container {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%;
          margin-left: 25%;
          padding: 6rem 0; }
          .page-content .featured__imagery--container:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 1024px) {
        .page-content .featured__imagery--container {
          padding: 10rem 6.4rem; } }
      @media screen and (min-width: 1440px) {
        .page-content .featured__imagery--container {
          float: left;
          display: block;
          margin-right: 0%;
          width: 33.33333%;
          margin-left: 33.33333%;
          padding: 12rem 1rem; }
          .page-content .featured__imagery--container:last-child {
            margin-right: 0; } }
  .page-content .content__01,
  .page-content .content__02,
  .page-content .content__03 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 6rem 0; }
    .page-content .content__01::after,
    .page-content .content__02::after,
    .page-content .content__03::after {
      clear: both;
      content: "";
      display: table; }
    .page-content .content__01:last-child,
    .page-content .content__02:last-child,
    .page-content .content__03:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      .page-content .content__01,
      .page-content .content__02,
      .page-content .content__03 {
        padding: 8rem 0; } }
    @media screen and (min-width: 1024px) {
      .page-content .content__01,
      .page-content .content__02,
      .page-content .content__03 {
        padding: 12rem 0; } }
    @media screen and (min-width: 1440px) {
      .page-content .content__01,
      .page-content .content__02,
      .page-content .content__03 {
        padding: 20rem 0; } }
    .page-content .content__01 aside:before,
    .page-content .content__02 aside:before,
    .page-content .content__03 aside:before {
      color: #dc7a6e;
      font-family: "Playfair Display", "Georgia", "Cambria", "Times New Roman", "Times", serif;
      font-weight: 900;
      font-size: 10.2rem;
      letter-spacing: -0.2rem;
      -webkit-font-feature-settings: "pnum";
      -moz-font-feature-settings: "pnum";
      -ms-font-feature-settings: "pnum";
      font-feature-settings: "pnum";
      opacity: 0.4;
      position: absolute;
      top: -60px;
      left: -21px; }
      .wf-active .page-content .content__01 aside:before, .wf-active
      .page-content .content__02 aside:before, .wf-active
      .page-content .content__03 aside:before {
        font-family: "Dala Floda Web", "Playfair Display", "Georgia", "Cambria", "Times New Roman", "Times", serif;
        font-weight: inherit; }
      @media screen and (min-width: 768px) {
        .page-content .content__01 aside:before,
        .page-content .content__02 aside:before,
        .page-content .content__03 aside:before {
          font-size: 13.8rem;
          top: -87px;
          left: -36px; } }
      @media screen and (min-width: 1024px) {
        .page-content .content__01 aside:before,
        .page-content .content__02 aside:before,
        .page-content .content__03 aside:before {
          font-size: 15.6rem;
          top: -92px;
          left: -48px; } }
      @media screen and (min-width: 1440px) {
        .page-content .content__01 aside:before,
        .page-content .content__02 aside:before,
        .page-content .content__03 aside:before {
          font-size: 18rem;
          top: -117px;
          left: -43px; } }
  .page-content .content__01 {
    background: url("../assets/images/topography_02.svg") no-repeat;
    background-size: 29rem auto;
    background-position: -175px 230px; }
    @media screen and (min-width: 768px) {
      .page-content .content__01 {
        background-position: -200px 250px;
        background-size: 41rem auto; } }
    @media screen and (min-width: 1024px) {
      .page-content .content__01 {
        background-position: -250px 220px;
        background-size: 50rem auto; } }
    @media screen and (min-width: 1440px) {
      .page-content .content__01 {
        background-position: -277px 345px;
        background-size: 55rem auto; } }
    .page-content .content__01 aside {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%;
      position: relative; }
      .page-content .content__01 aside:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .content__01 aside {
          float: left;
          display: block;
          margin-right: 0%;
          width: 25%; }
          .page-content .content__01 aside:last-child {
            margin-right: 0; } }
      .page-content .content__01 aside:before {
        content: '01'; }
    .page-content .content__01 article {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%;
      margin-top: 2rem; }
      .page-content .content__01 article:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .content__01 article {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%;
          margin-top: 0; }
          .page-content .content__01 article:last-child {
            margin-right: 0; } }
  .page-content .content__02 {
    background: url("../assets/images/topography_01.svg") no-repeat;
    background-size: 29rem auto;
    background-position: 215px 150px; }
    @media screen and (min-width: 768px) {
      .page-content .content__02 {
        background-size: 41rem auto;
        background-position: right 280px; } }
    @media screen and (min-width: 1024px) {
      .page-content .content__02 {
        background-size: 50rem auto;
        background-position: right 318px; } }
    @media screen and (min-width: 1440px) {
      .page-content .content__02 {
        background-size: 55rem auto;
        background-position: right 432px; } }
    .page-content .content__02 aside {
      float: right;
      display: block;
      margin-left: 0%;
      width: 83.33333%;
      margin-right: 8.33333%;
      position: relative; }
      .page-content .content__02 aside:last-child {
        margin-left: 0; }
      @media screen and (min-width: 768px) {
        .page-content .content__02 aside {
          float: right;
          display: block;
          margin-left: 0%;
          width: 25%; }
          .page-content .content__02 aside:last-child {
            margin-left: 0; } }
      .page-content .content__02 aside:before {
        content: '02'; }
    .page-content .content__02 article {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%;
      margin-top: 2rem; }
      .page-content .content__02 article:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .content__02 article {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%;
          margin-top: 0; }
          .page-content .content__02 article:last-child {
            margin-right: 0; } }
  .page-content .content__03 {
    background: url("../assets/images/topography_01.svg") no-repeat;
    background-size: 29rem auto;
    background-position: center 380px; }
    @media screen and (min-width: 768px) {
      .page-content .content__03 {
        background-position: -200px 180px;
        background-size: 41rem auto; } }
    @media screen and (min-width: 1024px) {
      .page-content .content__03 {
        background-position: -250px 230px;
        background-size: 50rem auto; } }
    @media screen and (min-width: 1440px) {
      .page-content .content__03 {
        background-position: -275px 345px;
        background-size: 55rem auto; } }
    .page-content .content__03 aside {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%;
      position: relative; }
      .page-content .content__03 aside:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .content__03 aside {
          float: left;
          display: block;
          margin-right: 0%;
          width: 25%; }
          .page-content .content__03 aside:last-child {
            margin-right: 0; } }
      .page-content .content__03 aside:before {
        content: '03'; }
    .page-content .content__03 article {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%;
      margin-top: 2rem; }
      .page-content .content__03 article:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .content__03 article {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%;
          margin-top: 0; }
          .page-content .content__03 article:last-child {
            margin-right: 0; } }
  .page-content .images__01,
  .page-content .images__02,
  .page-content .images__03 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .page-content .images__01::after,
    .page-content .images__02::after,
    .page-content .images__03::after {
      clear: both;
      content: "";
      display: table; }
    .page-content .images__01--image-left, .page-content .images__01--image-right,
    .page-content .images__02--image-left,
    .page-content .images__02--image-right,
    .page-content .images__03--image-left,
    .page-content .images__03--image-right {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      line-height: 0; }
      .page-content .images__01--image-left:last-child, .page-content .images__01--image-right:last-child,
      .page-content .images__02--image-left:last-child,
      .page-content .images__02--image-right:last-child,
      .page-content .images__03--image-left:last-child,
      .page-content .images__03--image-right:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .images__01--image-left, .page-content .images__01--image-right,
        .page-content .images__02--image-left,
        .page-content .images__02--image-right,
        .page-content .images__03--image-left,
        .page-content .images__03--image-right {
          float: left;
          display: block;
          margin-right: 0%;
          width: 50%; }
          .page-content .images__01--image-left:last-child, .page-content .images__01--image-right:last-child,
          .page-content .images__02--image-left:last-child,
          .page-content .images__02--image-right:last-child,
          .page-content .images__03--image-left:last-child,
          .page-content .images__03--image-right:last-child {
            margin-right: 0; } }
  .page-content .conclusion {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url("../assets/images/wood_background.jpg") no-repeat #5b7366;
    background-size: cover;
    padding: 6rem 0; }
    .page-content .conclusion::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 768px) {
      .page-content .conclusion {
        background: url("../assets/images/wood_background_medium.jpg") no-repeat #5b7366;
        background-size: cover; } }
    @media screen and (min-width: 1024px) {
      .page-content .conclusion {
        background: url("../assets/images/wood_background_large.jpg") no-repeat #5b7366;
        background-size: cover;
        padding: 8rem 0; } }
    @media screen and (min-width: 1440px) {
      .page-content .conclusion {
        background: url("../assets/images/wood_background_xlarge.jpg") no-repeat #5b7366;
        background-size: cover;
        padding: 14rem 6rem; } }
    .page-content .conclusion__inner {
      float: left;
      display: block;
      margin-right: 0%;
      width: 83.33333%;
      margin-left: 8.33333%; }
      .page-content .conclusion__inner:last-child {
        margin-right: 0; }
      @media screen and (min-width: 768px) {
        .page-content .conclusion__inner {
          border: solid 1px #dc7a6e;
          padding: 4rem 7.9rem; } }
      @media screen and (min-width: 1024px) {
        .page-content .conclusion__inner {
          padding: 6rem 8.5rem; } }
      @media screen and (min-width: 1440px) {
        .page-content .conclusion__inner {
          padding: 10rem 18rem; } }

footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #263430;
  padding: 0 0 6rem 0; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 0; } }
  footer aside {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    height: 32rem;
    background: url("../assets/images/headshot.jpg") no-repeat;
    background-size: cover;
    position: relative; }
    footer aside:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      footer aside {
        float: left;
        display: block;
        margin-right: 0%;
        width: 50%;
        height: 57rem;
        background: url("../assets/images/headshot_medium.jpg") no-repeat;
        background-size: cover; }
        footer aside:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      footer aside {
        height: 65rem;
        background: url("../assets/images/headshot_large.jpg") no-repeat;
        background-size: cover; } }
    @media screen and (min-width: 1440px) {
      footer aside {
        height: 83rem;
        background: url("../assets/images/headshot_xlarge.jpg") no-repeat;
        background-size: cover; } }
    footer aside:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(38, 52, 48, 0);
      background-image: -webkit-linear-gradient(top, rgba(38, 52, 48, 0), rgba(38, 52, 48, 0.85), #263430);
      background-image: linear-gradient(to bottom,rgba(38, 52, 48, 0), rgba(38, 52, 48, 0.85), #263430); }
      @media screen and (min-width: 768px) {
        footer aside:before {
          background-color: rgba(38, 52, 48, 0);
          background-image: -webkit-linear-gradient(left, rgba(38, 52, 48, 0), rgba(38, 52, 48, 0.85), #263430);
          background-image: linear-gradient(to right,rgba(38, 52, 48, 0), rgba(38, 52, 48, 0.85), #263430); } }
  footer article {
    float: left;
    display: block;
    margin-right: 0%;
    width: 83.33333%;
    margin-left: 8.33333%;
    padding: 3rem 0 0 0; }
    footer article:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      footer article {
        float: left;
        display: block;
        margin-right: 0%;
        width: 41.66667%;
        margin-left: 0%;
        height: 57rem;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        padding: 0; }
        footer article:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      footer article {
        height: 65rem; } }
    @media screen and (min-width: 1440px) {
      footer article {
        height: 83rem; } }
    footer article .social__media {
      height: 3rem;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      margin: 6rem 0 8rem 0; }
      @media screen and (min-width: 768px) {
        footer article .social__media {
          height: 3rem;
          margin: 4rem 0; } }
      @media screen and (min-width: 1024px) {
        footer article .social__media {
          height: 3.5rem;
          margin: 4rem 0 6rem; } }
      @media screen and (min-width: 1440px) {
        footer article .social__media {
          height: 4rem;
          margin: 8rem 0 10rem; } }
      footer article .social__media li a svg {
        height: 3rem; }
        @media screen and (min-width: 768px) {
          footer article .social__media li a svg {
            height: 3rem; } }
        @media screen and (min-width: 1024px) {
          footer article .social__media li a svg {
            height: 3.5rem; } }
        @media screen and (min-width: 1440px) {
          footer article .social__media li a svg {
            height: 4rem; } }

/*# sourceMappingURL=main.css.map */
