<header>

  <section class="header__container">

    <aside>
      <img class="logo" src="../assets/images/logo.svg" alt="Kyle Hyams logo" />
      <h1>Kyle Hyams</h1>
    </aside>

    <article>
      <p class="about">Hello, world. I’m a designer and animator for <a href="http://prpl.rs" target="_blank">Purple, Rock, Scissors</a> in Orlando, Florida. I take pride in my ability to build what I design. Being able to make it move around the screen is pretty awesome, too.</p>
    </article>

  </section>

</header>
