/* Featured Work section of the homepage */

.featured {
	@include outer-container;
	
	&__inner {
		@include span-columns(10);
		@include shift(1);
		
		@include media($medium-screen) {
			background: $creme;
			padding: 48px percentage(1/12);
			-webkit-filter: drop-shadow(0 16px 32px rgba($olive-darker,0.12));
					filter: drop-shadow(0 16px 32px rgba($olive-darker,0.12));
		}
		
		@include media($large-screen) {
			padding: 64px percentage(1/12);
		}
		
		@include media($xlarge-screen) {
			padding: 80px percentage(1/12);
		}
		
		.work-list {
			
			&__link {
				display: block;
				margin: 24px 0 0 0;
				
				&:first-child {
					margin: 28px 0 0 0;
				}
				
				p {
					margin: 4px 0 0 0;
					position: relative;
					transition: $long-duration $base-timing;
					
					// Horizontal line seen on hover state
					&:after {
						content: '';
						width: 0;
						height: 1px;
						background: $action-color;
						position: absolute;
						top: 10px;
						left: 0;
						transition: $long-duration $base-timing;
						
						@include media($large-screen) {
							top: 12px;
						}
						
						@include media($xlarge-screen) {
							top: 14px;
						}
						
					}
					
				}
				
				@include media($medium-screen) {
					margin: 32px 0 0 0;
					
					&:first-child {
						margin: 36px 0 0 0;
					}
					
				}
				
				@include media($large-screen) {
					margin: 40px 0 0 0;
					
					&:first-child {
						margin: 44px 0 0 0;
					}
					
					p {
						margin: 8px 0 0 0;
					}
					
				}
				
				@include media($xlarge-screen) {
					margin: 48px 0 0 0;
					
					&:first-child {
						margin: 52px 0 0 0;
					}
				}
				
				// Hover state for work list
				&:hover {
					
					p {
						padding: 0 0 0 88px;
						
						&:after {
							width: 80px;
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	/* .topography-large {
		display: none;
		
		@include media($medium-screen) {
			width: 520px;
			height: auto;
			opacity: 0.3;
			position: absolute;
			z-index: -1;
			transform: rotateX(180deg);
			transform-origin: 50% 50%;
			right: -34%;
			bottom: -30%;
		}
		
	} */
	
}