body {
	background: $base-background-color;
}

header {
	@include outer-container;
	position: relative;

	.header__container {
		@include span-columns(10);
		@include shift(1);
		@include display(flex);
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(space-between);
		position: absolute;
		z-index: 1;
		top: 16px;
		@include media($medium-screen) {}
		@include media($large-screen) {}
		@include media($xlarge-screen) {}
		
		.logo {
			width: auto;
			height: 42px;
			@include media($medium-screen) {
				height: 48px;
			}
		}
		
		.icon-menu {
			width: 30px;
			height: auto;
		}

	}

}