/**
 *
  Z-index order:
  1: Header
  2: Mobile menu
  3. Menu icon
 */

body {
	background: $base-background-color;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

header {
	@include outer-container;
	position: relative;

	.header__container {
		@include span-columns(12);
		position: absolute;
		z-index: 1;
		
		.home-link {
			height: 44px;
			@include position(absolute, 16px null null 27px);
			
			
			@include media($medium-screen) {
				height: 50px;
				left: 40px;
			}
			
			@include media($large-screen) {
				left: 56px;
			}
		
			.logo {
				width: auto;
				height: 44px;
				padding: 2px;
				
				@include media($medium-screen) {
					height: 50px;
				}
				
				&__outer,
				&__inner {
					fill: $olive-dark;
					@include transform-origin(center);
					transition: $longer-duration $base-timing;
				}
				
			}
			
			&:hover {
				
				.logo__outer {
					@include transform(rotate(180deg));
				}
				
			}
		
		}
		
		// Nav links for tablets and up
		.nav {
			display: none;
			
			@include media($medium-screen) {
				display: block;
				@include position(absolute, 34px 40px null null);
			}
			
			@include media($large-screen) {
				right: 56px;
			}
			
			li {
				display: inline;
				margin: 0 40px 0 0;
				
				&:last-child {margin: 0;}
				
			}
			
		}

	}

}