.hero {
	background: url('../assets/images/hero_background-2x.jpg') 0 0 no-repeat;
	background-size: cover;
	position: relative;
	@include outer-container;
}

/* Styling specific to the homepage hero */
.home {
	height: 85vh;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	
	@include media($medium-screen) {
		height: 50vh;
	}
	
	@include media($large-screen) {
		height: 70vh;
	}
	
	@include media($xlarge-screen) {
		height: 50vh;
	}
		
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		@include linear-gradient(to bottom, rgba($creme, 0.3), rgba($creme, 1));
	}
	
/*
	.topography-small {
		width: 260px;
		height: auto;
		opacity: 0.3;
		position: absolute;
		transform: rotateX(180deg);
		transform-origin: 50% 50%;
		left: 0;
		bottom: 0;
	}
*/
	
}

.hero-content {
	@include span-columns(10);
	@include shift(1);
	position: relative;
	
	@include media($medium-screen) {
		@include span-columns(9);
	}
	
	p {
		margin: 16px 0 0 0;
		
		@include media($xlarge-screen) {
			margin: 24px 0 0 0;
		}
		
	}
	
}