/* DELETE THIS FILE WHEN YOU'RE DONE WITH THE HOMEPAGE */

body {
	background: $base-background-color;
}

.page-content {
	background: url('../assets/images/topography_01.svg') no-repeat;
	background-position: center -200px;
	background-size: 29rem auto;
	@include media($medium-screen) {
		background-position: center -210px;
		background-size: 41rem auto;
	}
	@include media($large-screen) {
		background-position: center -215px;
		background-size: 42rem auto;
	}
	@include media($xlarge-screen) {
		background-position: center -260px;
		background-size: 50rem auto;
	}

	.featured__copy {
		@include outer-container;
		&--container {
			@include span-columns(10);
			@include shift(1);
			text-align: center;
			padding: 6rem 0;
			@include media($medium-screen) {
				@include span-columns(8);
				@include shift(2);
				padding: 8rem 0;
			}
			@include media($large-screen) {
				padding: 12rem 0;
			}
			@include media($xlarge-screen) {
				@include span-columns(6);
				@include shift(3);
				padding: 14rem 0;
			}
			
			.featured__copy--paragraph {
				margin: 6rem 0 0 0;
				@include media($large-screen) {
					margin: 10rem 0 0 0;
				}
				@include media($xlarge-screen) {
					margin: 12rem 0 0 0;
				}
			}

		}
	}

	.featured__imagery {
		@include outer-container;
		background: url('../assets/images/wolfwithin_background.jpg') 0 0 no-repeat;
		background-size: cover;
		text-align: center;
		@include media ($medium-screen) {
			background: url('../assets/images/wolfwithin_background_medium.jpg') 0 0 no-repeat;
			background-size: cover;
		}
		@include media ($large-screen) {
			background: url('../assets/images/wolfwithin_background_large.jpg') 0 0 no-repeat;
			background-size: cover;
			border: solid 10px #F4D229;
		}
		@include media ($xlarge-screen) {
			background: url('../assets/images/wolfwithin_background_xlarge.jpg') 0 0 no-repeat;
			background-size: cover;
			border: solid 15px #F4D229;
		}
		
		&--container {
			@include span-columns(8);
			@include shift(2);
			padding: 4rem 0;
			@include media($medium-screen) {
				@include span-columns(6);
				@include shift(3);
				padding: 6rem 0;
			}
			@include media($large-screen) {
				padding: 10rem 6.4rem;
			}
			@include media($xlarge-screen) {
				@include span-columns(4);
				@include shift(4);
				padding: 12rem 1rem;
			}
		}

	}

	.content__01,
	.content__02,
	.content__03 {
		@include outer-container;
		@include span-columns(12);
		padding: 6rem 0;
		@include media($medium-screen) {
			padding: 8rem 0;
		}
		@include media($large-screen) {
			padding: 12rem 0;
		}
		@include media($xlarge-screen) {
			padding: 20rem 0;
		}

		aside {
			
			&:before {
				color: $salmon;
				font-family: $dala-floda-fallback;
				font-weight: 900;
				font-size: 10.2rem;
				letter-spacing: -0.2rem;
				@include font-feature-settings("pnum");
				opacity: 0.4;
				position: absolute;
				top: -60px;
				left: -21px;
				.wf-active & {
					font-family: $heading-font-family;
					font-weight: inherit;
				}
				@include media($medium-screen) {
					font-size: 13.8rem;
					top: -87px;
					left: -36px;
				}
				@include media($large-screen) {
					font-size: 15.6rem;
					top: -92px;
					left: -48px;
				}
				@include media($xlarge-screen) {
					font-size: 18rem;
					top: -117px;
					left: -43px;
				}
			}

		}

	}

	.content__01 {
		background: url('../assets/images/topography_02.svg') no-repeat;
		background-size: 29rem auto;
		background-position: -175px 230px;
		@include media($medium-screen) {
			background-position: -200px 250px;
			background-size: 41rem auto;
		}
		@include media($large-screen) {
			background-position: -250px 220px;
			background-size: 50rem auto;
		}
		@include media($xlarge-screen) {
			background-position: -277px 345px;
			background-size: 55rem auto;
		}

		aside {
			@include span-columns(10);
			@include shift(1);
			position: relative;
			@include media($medium-screen) {
				@include span-columns(3);
			}

			&:before {
				content: '01';
			}

		}

		article {
			@include span-columns(10);
			@include shift(1);
			margin-top: 2rem;
			@include media($medium-screen) {
				@include span-columns(6);
				margin-top: 0;
			}
		}

	}

	.content__02 {
		background: url('../assets/images/topography_01.svg') no-repeat;
		background-size: 29rem auto;
		background-position: 215px 150px;
		@include media($medium-screen) {
			background-size: 41rem auto;
			background-position: right 280px;
		}
		@include media($large-screen) {
			background-size: 50rem auto;
			background-position: right 318px;
		}
		@include media($xlarge-screen) {
			background-size: 55rem auto;
			background-position: right 432px;
		}

		@include direction-context(right-to-left) {
			aside {
				@include span-columns(10);
				@include shift(1);
				position: relative;
				@include media($medium-screen) {
					@include span-columns(3);
				}

				&:before {
					content: '02';
				}

			}
		}

		article {
			@include span-columns(10);
			@include shift(1);
			margin-top: 2rem;
			@include media($medium-screen) {
				@include span-columns(6);
				margin-top: 0;
			}

		}

	}

	.content__03 {
		background: url('../assets/images/topography_01.svg') no-repeat;
		background-size: 29rem auto;
		background-position: center 380px;
		@include media($medium-screen) {
			background-position: -200px 180px;
			background-size: 41rem auto;
		}
		@include media($large-screen) {
			background-position: -250px 230px;
			background-size: 50rem auto;
		}
		@include media($xlarge-screen) {
			background-position: -275px 345px;
			background-size: 55rem auto;
		}

		aside {
			@include span-columns(10);
			@include shift(1);
			position: relative;
			@include media($medium-screen) {
				@include span-columns(3);
			}

			&:before {
				content: '03';
			}

		}

		article {
			@include span-columns(10);
			@include shift(1);
			margin-top: 2rem;
			@include media($medium-screen) {
				@include span-columns(6);
				margin-top: 0;
			}
		}

	}

	.images__01,
	.images__02,
	.images__03 {
		@include outer-container;

		&--image-left,
		&--image-right {
			@include span-columns (12);
			line-height: 0;
			@include media($medium-screen) {
				@include span-columns(6);
			}
		}

	}

	.conclusion {
		@include outer-container;
		text-align: center;
		background: url('../assets/images/wood_background.jpg') no-repeat $olive;
		background-size: cover;
		padding: 6rem 0;
		@include media($medium-screen) {
			background: url('../assets/images/wood_background_medium.jpg') no-repeat $olive;
			background-size: cover;
		}
		@include media($large-screen) {
			background: url('../assets/images/wood_background_large.jpg') no-repeat $olive;
			background-size: cover;
			padding: 8rem 0;
		}
		@include media($xlarge-screen) {
			background: url('../assets/images/wood_background_xlarge.jpg') no-repeat $olive;
			background-size: cover;
			padding: 14rem 6rem;
		}

		&__inner {
			@include span-columns(10);
			@include shift(1);
			@include media($medium-screen) {
				border: solid 1px $action-color;
				padding: 4rem 7.9rem;
			}
			@include media($large-screen) {
				padding: 6rem 8.5rem;
			}
			@include media($xlarge-screen) {
				padding: 10rem 18rem;
			}
		}

	}

}