/* ---
# Only the main Sass file needs front matter (the dashes are enough)
--- */
@charset "utf-8";

@import "_reset.scss";

@import "libraries/bourbon/_bourbon.scss";
@import "libraries/base/_base.scss";
@import "libraries/neat/_neat.scss";

@import "_syntax-highlighting.scss";
@import "_header.scss";

body {
	background: $base-background-color;
}

.page-content {
	@include outer-container;
	background: url('../assets/images/topography.svg') center -200px no-repeat;
	background-size: 29rem auto;
	.featured {
		@include span-columns(10);
		@include shift(1);
		&__copy {
			text-align: center;
			padding: 6rem 0;
			&--paragraph {
				margin: 6rem 0 0 0;
			}
		}
	}
	.featured-imagery {
		@include span-columns(12);
		background: url('../assets/images/wood_background.jpg') 0 0 no-repeat;
		background-size: cover;
		padding: 4rem 0;
		&__container {
			img {
				margin: 0 auto;
			}
		}
	}
}