/* ---
# Only the main Sass file needs front matter (the dashes are enough)
--- */
@charset "utf-8";

// Reset
@import "_reset.scss";

// Libraries
@import "libraries/bourbon/_bourbon.scss";
@import "libraries/base/_base.scss";
@import "libraries/neat/_neat.scss";

// Everything else
@import "_syntax-highlighting.scss";
@import "_header.scss";

body {
	background: $base-background-color;
}

.page-content {
	background: url('../assets/images/topography.svg') no-repeat;
	background-position: center -200px;
	background-size: 29rem auto;
	@include media($medium-screen) {
		background-position: center -210px;
		background-size: 41rem auto;
	}
	@include media($large-screen) {
		background-position: center -215px;
		background-size: 42rem auto;
	}

	.featured__copy {
		@include outer-container;
		&--container {
			@include span-columns(10);
			@include shift(1);
			text-align: center;
			padding: 6rem 0;
			@include media($medium-screen) {
				@include span-columns(8);
				@include shift(2);
				padding: 8rem 0;
			}
			@include media($large-screen) {
				padding: 12rem 0;
			}
			
			.featured__copy--paragraph {
				margin: 6rem 0 0 0;
				@include media($large-screen) {
					margin: 10rem 0 0 0;
				}
			}

		}
	}

	.featured__imagery {
		@include outer-container;
		background: url('../assets/images/wood_background.jpg') 0 0 no-repeat;
		background-size: cover;
		text-align: center;
		&--container {
			@include span-columns(8);
			@include shift(2);
			padding: 4rem 0;
			@include media($medium-screen) {
				@include span-columns(6);
				@include shift(3);
				padding: 6rem 0;
			}
		}
	}

}