// Accurate font size conversion from design to development
html {
	font-size: 62.5%;
}

body {
	color: $base-font-color;
	font-family: $native-fallback;
	@include font-feature-settings("kern", "lnum", "liga");
	font-size: $base-font-size;
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	.wf-active & {
		font-family: $base-font-family;
	}
}

h1,
h2,
h3,
h4,
h5 {
	color: $olive-dark;
	font-family: $dala-floda-fallback;
	font-weight: 900;
// 	@include font-feature-settings("kern", "lnum", "liga");
	.wf-active & {
		font-family: $heading-font-family;
		font-weight: inherit;
		line-height: $heading-line-height;
	}
}

h1 {
	font-size: 4rem;
	line-height: $heading-line-height;
	letter-spacing: 1px;
	position: relative;
	
	@media screen and (min-width: 768px) {
		font-size: 5.6rem;
		line-height: 64px;
	}
	
	@media screen and (min-width: 1024px) {
		font-size: 7.2rem;
		line-height: 80px;
	}
	
	@media screen and (min-width: 1440px) {
		font-size: 8.8rem;
		line-height: 96px;
	}
	
	small {
		color: $base-font-color;
		font-family: $work-sans;
		font-size: 1.2rem;
		line-height: 3;
		letter-spacing: 4px;
		text-transform: uppercase;
		
		@media screen and (min-width: 768px) {
			font-size: 1.6rem;
		}
		
		@media screen and (min-width: 1440px) {
			font-size: 2rem;
		}
		
	}
	
}

h2 {
	font-size: 3.2rem;
	letter-spacing: 0.75px;
	
	@media screen and (min-width: 768px) {}
	
	@media screen and (min-width: 1024px) {}
	
	@media screen and (min-width: 1440px) {}
	
	small {
		color: $base-font-color;
		font-family: $work-sans;
		font-size: 1.2rem;
		line-height: 3;
		letter-spacing: 4px;
		text-transform: uppercase;
		position: relative;
		padding: 0 0 16px;
		
		&:after {
			content: '';
			width: 80px;
			height: 1px;
			background: $olive;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		
	}
	
}

h3 {
	font-size: 4.2rem;
	letter-spacing: 0.125rem;
	margin: 0;
	position: relative;
	
	@media screen and (min-width: 768px) {
		font-size: 5.4rem;
	}
	
	@media screen and (min-width: 1024px) {
		font-size: 7.2rem;
	}
	
	@media screen and (min-width: 1440px) {
		font-size: 9.6rem;
	}
	
}

h4 {
	font-size: 3.6rem;
	letter-spacing: 0.125rem;
	margin: 0 0 2rem 0;
	
	@media screen and (min-width: 768px) {
		font-size: 4.8rem;
		letter-spacing: 0.175rem;
		margin: 0 0 3rem 0;
	}
	
	@media screen and (min-width: 1024px) {
		font-size: 6.6rem;
		letter-spacing: 0.25rem;
		margin: 0 0 4rem 0;
	}
	
	@media screen and (min-width: 1440px) {
		font-size: 8.4rem;
		letter-spacing: 0.2rem;
		margin: 0 0 6rem 0;
	}
	
}

h5 {
	font-size: 3.3rem;
	letter-spacing: 0.125rem;
	margin: 0 0 2rem 0;
	
	@media screen and (min-width: 1024px) {
		font-size: 4.8rem;
		letter-spacing: 0.175rem;
		margin: 0 0 4rem 0;
	}
	
	@media screen and (min-width: 1440px) {
		font-size: 6.6rem;
		letter-spacing: 0.2rem;
		margin: 0 0 6rem 0;
	}
	
}

h6 {
	font-family: $work-sans-fallback;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	margin: 0;
	
	.wf-active & {
		font-family: $base-font-family;
	}
	
	@media screen and (min-width: 768px) {
		font-size: 1.2rem;
		letter-spacing: 0.36rem;
	}
	
	@media screen and (min-width: 1024px) {
		font-size: 1.4rem;
		letter-spacing: 0.45rem;
	}
  
}

p {
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	
	@media screen and (min-width: 1024px) {
		font-size: 1.6rem;
		line-height: 24px;
	}
	
	@media screen and (min-width: 1440px) {
		font-size: 2rem;
		line-height: 28px;
	}

	&.footer__copy {
		color: $creme;
		
		@media screen and (min-width: 768px) {
			margin: 0.5rem 0 0 0;
		}
		
		@media screen and (min-width: 1024px) {
			font-size: 1.8rem;
			margin: 0;
		}
		
		@media screen and (min-width: 1440px) {
		  font-size: 2rem;
		}
	}

	&.footer__colophon {
		font-size: 1.2rem;
		letter-spacing: 0.5px;
		line-height: 20px;
		margin: 0 0 12px;
		
		&:last-child {margin: 0;}
		
		@media screen and (min-width: 768px) {
			font-size: 1.6rem;
			line-height: 24px;
		}
		
		a {
			color: $olive;
			text-decoration: underline;
			
			&:hover {
				color: darken($olive, 10%);
				text-decoration: none;
			}
		
		}
	
	}

}

a {
	color: $action-color;
	text-decoration: none;
	transition: color $base-duration $base-timing;
	
	&:active,
	&:focus,
	&:hover {
		color: shade($action-color, 10%);
	}
	
}

hr {
	width: 7rem;
	height: 0.1rem;
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: 0 auto;
	
	@media screen and (min-width: 768px) {
		width: 10rem;
	}
	
	@media screen and (min-width: 1024px) {
		width: 12rem;
	}
	
}